[Desktop Entry]
Type=Application
Version=1.0
Name=System Installer
Keywords=calamares;system;installer
TryExec=calamares
Exec=export XDG_CONFIG_HOME=$HOME/.kde-light && sudo -E /usr/bin/calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;


Name[ca]=Instal·lador de sistema
Name[da]=Systeminstallationsprogram
Name[de]=Installation des Betriebssystems
Name[en_GB]=System Installer
Name[es]=Instalador del Sistema
Name[fr]=Installateur système
Name[he]=אשף התקנה
Name[hr]=Instalacija sustava
Name[hu]=Rendszer Telepítő
Name[id]=Pemasang
Name[is]=Kerfis uppsetning
Name[ja]=システムインストーラー
Name[lt]=Sistemos diegimas į kompiuterį
Name[nl]=Installatieprogramma
Name[pl]=Instalator systemu
Name[pt_BR]=Instalador de Sistema
Name[cs_CZ]=Instalační program systému
Name[ru]=Установщик системы
Name[sk]=Inštalátor systému
Name[sv]=Systeminstallerare
Name[zh_CN]=系统安装程序
Name[zh_TW]=系統安裝程式
Name[ast]=Instalador del sistema
Name[pt_PT]=Instalador de Sistema
Name[tr_TR]=Sistem Yükleyici
